.container {
  width: 100%;
  height: 10vh;
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: "0 1px";
  margin: 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  z-index: 11;
  background: transparent;
  backdrop-filter: blur(10px);
}
.box {
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 99%;
  align-items: center;
}
.icon {
  color: black;
  font-size: 2rem;
}
.icon:hover {
  color: rgb(102, 93, 93);
}
.nameBox {
  text-decoration: none;
}
.name {
  color: black;
}
.name:hover {
  color: rgb(102, 93, 93);
}
